{% extends "base.html.twig" %}

{% block body %}

    <p>Fist name : {{ author.firstName }}</p>
    <p>Last name : {{ author.lastName }}</p>
    <p>user name : {{ author.username }}</p>

    <ul>
    {% for article in author.articles %}
        <li>{{ article.title }}</li>
    {% endfor %}
    </ul>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <a href="{{ path('delete_author', {'id': author.id}) }}">Supprimer</a>
{% endblock %}